<div class="container">
  <div class="row">
    <div class="col m-10">
        <p id="notice"></p>
        <h1>本当に退会しますか？</h1>
        <h3>退会すると、会員登録情報や
        これまでの購入履歴が閲覧できなくなります。
        退会する場合は、「退会する」をクリックしてください。</h3>


        <%= link_to edit_public_member_path(current_member) do %>
        <button type="button" class="btn btn-outline-primary">退会しない</button>
        <% end %>

        <%= link_to public_members_withdraw_path(current_member), method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"} do %>
        <button type="button" class="btn btn-outline-danger">退会する</button>
        <% end %>
    </div>
  </div>
</div>