@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.iine_image {
  height: 300px;
}

.fav_image {
    height: 180px;
}

.fav_content {
    padding: 20px 60px;
    border: 1px black solid;
    text-align: center;
}

.card_image {
    height: 22vw;
    background-color: white;
}

.tournament_image {
    width: inherit;
}

.team_card {
    width: 100%;
}

.team_page {
    height: 30vw;
}

.team_sidebar {
    margin-top: 8vw;
}