<table class='table'>
  <thead>
    <tr>
      <th>カテゴリー</th>
    </tr>
  </thead>
  <tbody>
    <% categories.each do |category| %>
      <tr>
        <% if current_page?(public_teams_path) %>
          <!--                              カラム名  genre(変数)のid-->
          <td>
            <%= link_to public_teams_path(category_id: category.id, category_name: category.name) do %>
            <%= category.name %>
            <% end %>
          </td>
        <% else %>
          <td>
            <%= link_to public_tournaments_path(category_id: category.id, category_name: category.name) do %>
            <%= category.name %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
