


<table class='table'>
  <thead>
    <tr>
      <th>都道府県検索</th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <% if current_page?(public_teams_path) %>
        <!--                              カラム名  genre(変数)のid-->
          <td>
            <%= select_tag "prefecture", options_from_collection_for_select( prefectures, :id, :name) %>
            <script>
              prefecture.addEventListener('change', inputChange);
              function inputChange(event){
            location.href = "/public/teams?prefecture_id="+ event.currentTarget.value
            }
            </script>
          </td>
        <% else %>
          <td>
            <%= select_tag "prefecture", options_from_collection_for_select( prefectures, :id, :name) %>
            <script>
              prefecture.addEventListener('change', inputChange);
              function inputChange(event){
            location.href = "/public/tournaments?prefecture_id="+ event.currentTarget.value
            }
            </script>
          </td>
        <% end %>
      </tr>

  </tbody>
</table>
