<div class="row row-cols-1">
  <div class="col d-flex justify-content-center"><%= link_to public_member_path(current_member) do %><button type="button" class="btn btn-outline-secondary">マイページ</button><% end %></div>
  <div class="col d-flex justify-content-center"><%= link_to public_tournaments_path do %><button type="button" class="btn btn-outline-secondary">大会を見る</button><% end %></div>
</div>